/* Resets */
@mixin indent-reset() {
  margin: 0;
  padding: 0;
}

@mixin list-reset() {
  @include indent-reset();
  list-style: none;
}

/* Fonts */
@mixin font-pt() {
  font-family: "PTsans", "Arial", sans-serif;
}
